#search-input {
    border-radius: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 18px 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    width: 35%;
    color: #353c52;
    background-color: white;

    &:hover {
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    }

    input {
        border: 0;
        color: #353c52;
        font-size: 22px;
        font-weight: 400;
        width: calc(100% - 132px);
        height: 52px;
        margin: 0 18px;
    }
    
    #search-logo {
        font-size: 52px;
    }
    
    #search-erase {
        font-size: 16px;
        margin: 0 8px;
        &:hover {
            cursor: pointer;
        }
    }
    
    #search-button {
        &:hover {
            cursor: pointer;
        }
        font-size: 24px;
        margin: 0 8px;
        transform:rotateY(180deg);
    }
}