$blue: #123295;
$green: #2f7f4f;

.result-title {
    a {
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline $blue solid;
        }
    
        b {
            font-weight: 700;
        }
    }
    margin-bottom: 4px;
}

.result-source {
    color: $green;
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
}

.result-desc {
    font-size: 14px;
}

.result {
    margin-top: 24px;
}